* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}
input, textarea, select {
  color: #333 !important;
  caret-color: #0f4c81 !important;
}